@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:wght@300;400;500;600&display=swap');
@import "./theme.css";


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;

  scrollbar-width: none;

}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
  color: var(--color-text-primary);
  background-color: var(--color-background);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  display: none;
}




h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-tight);
}

p {
  margin: 0 0 var(--spacing-md) 0;
}


a {
  color: inherit;
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}


button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}


*:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}


::selection {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
}


.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
}


@media (max-width: 768px) {
  .container {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }
}





.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: var(--spacing-4xl) 0;

  position: relative;
  box-sizing: border-box;
}


.section-title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-3xl);
  font-weight: 700;
  color: var(--color-text-primary);
  text-align: left;
  margin-bottom: var(--spacing-xl);
  width: 100%;
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;

  text-transform: uppercase;



  text-transform: none;
}


#experience {
  height: auto;

  min-height: 100vh;
  padding: 0;

}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}