.scroll-progress-container {
    position: fixed;
    top: 50%;
    /* Center vertically */
    right: 2rem;
    transform: translateY(-50%);
    /* Center vertically */
    width: 12px;
    /* Slight adjustment */
    height: 140px;
    /* Slight adjustment */
    background-color: #e3e3e3;
    /* Pastel light grey */
    border-radius: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.scroll-progress-fill {
    width: 100%;
    background-color: #F4D03F;
    /* Darker Pastel Yellow */
    border-radius: 20px;
}